%menu-icons {
    font-size: 9px;
    position: absolute;
    right: 0;
    @media(max-width: 981px){
        left: 2em;
        right: auto;
    }
    background: $color__pink;
    display: inline-block;
    line-height: 12px;
    border-radius: 50%;
    text-align: center;
    padding: 1px 4px;
}