// Shopping bag and Wishlist icons

.cart-contents-count, .icon_heart_alt {
    font-size: 18px;
}

.cart-contents-count .icon_cart_alt::before {
    position: relative;
    bottom: 2px;
}

.cart-counter {
    @extend %menu-icons;
}

.wishlist-counter {
    @extend %menu-icons;
    right: auto;
    @media(min-width: 982px){
        top:1.7em;
    }
}